@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Nunito");

/* For across portfolio styling */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  transition: background 0.2s linear;
}

p {
  font-family: "Lato";
  font-size: 13;
}

.blue-text {
  color: #008fff;
}

.black-text {
  color: #50504f;
}

.grey-text {
  color: #c9c9c9;
}

.

/* darkmode styling */
body.dark {
  background-color: #3e3e3e;
  transition: background 0.2s linear;
}

.blue-text.dark {
  color: #44adff;
}

.black-text.dark {
  color: #cccccc;
}

.grey-text.dark {
  color: #9f9f9f;
}
