header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  margin: 0;
  z-index: 3;

  .container {
    max-width: 1600px;
    padding: 50px 50px;
    position: relative;
    margin: 0 auto;
    .logo-header {
      display: block;
      box-sizing: border-box;
      background: $dnyLight no-repeat;
      background-size: 220px;
      width: 220px;
      height: 50px;
      float: left;
      margin-top: -26px;
    }

    nav {
      float: right;
      margin: 0 auto;
      margin-top: -15px;
      ul {
        display: inline-block;
        li {
          display: inline-block;
          color: $textLight;
          font-family: "Nunito";
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          margin-right: 50px;
        }
      }

      .darkslider {
        float: right;
        margin-top: -19px;
        display: block;
        .checkbox {
          opacity: 0;
        }

        .label {
          background-color: #c9cece;
          border-radius: 50px;
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 5px;
          height: 18px;
          width: 40px;
          transform: scale(1.2);
          .ball {
            background-color: #ffffff;
            background-image: url("../icons/sun.svg");
            background-size: contain;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            position: absolute;
            height: 20px;
            width: 20px;
            transform: translateX(0px);
            transition: 0.2s linear;
          }
        }

        .checkbox:checked + .label .ball {
          transform: translateX(21px);
          background-image: url("../icons/moon.svg");
          background-color: #3e3e3e;
          transition: 0.2s linear;
        }
      }
    }
  }
}

header.solid {
  background-color: #ffffff;
}

// darkmode version
body.dark header {
  transition: background 0.2s linear;
  .container {
    .logo-header {
      background: $dnyDark no-repeat;
      background-size: 220px;
    }
    nav {
      ul {
        li {
          color: $textDark;
        }
      }
    }
  }
}

body.dark header.solid {
  background-color: #3e3e3e;
}
