header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  margin: 0;
  z-index: 3;

  .container {
    max-width: 1600px;
    padding: 50px 60px;
    position: relative;
    margin: 0 auto;

    .logo-header {
      @include iconBg($dnyLight, 200px, 50px);
      float: left;
      margin-top: -22px;
    }

    nav {
      float: right;
      margin: 0 auto;
      margin-top: -10px;
      ul {
        display: inline-block;
        li {
          display: inline-block;
          color: $textLight;
          @include nunito(bold);
          font-size: 12pt;
          text-align: center;
          text-transform: uppercase;
          margin-right: 50px;
          .link {
            cursor: pointer;
            text-decoration: none;
            position: relative;
            margin-bottom: 0px;
            padding-bottom: 5px;
            color: inherit;
            border-bottom: 5px solid transparent;
            transition: 300ms ease-in-out;
            &::after {
              content: "";
              position: absolute;
              right: 0px;
              width: 0px;
              bottom: -5px;
              background-color: $textLight;
              height: 5px;
              transition: width 300ms ease-in-out;
            }

            &:focus::after,
            &:hover::after {
              left: 0px;
              right: auto;
              width: 100%;
            }
          }
        }
      }

      .darkslider {
        float: right;
        margin-top: -19px;
        display: block;
        .checkbox {
          opacity: 0;
        }

        .label {
          background-color: #c9cece;
          border-radius: 50px;
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 5px;
          height: 18px;
          width: 40px;
          transform: scale(1.1);
          .ball {
            background-color: #ffffff;
            background-image: url("../icons/sun.svg");
            background-size: contain;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            position: absolute;
            height: 20px;
            width: 20px;
            transform: translateX(0px);
            transition: 0.2s linear;
          }
        }

        .checkbox:checked + .label .ball {
          transform: translateX(21px);
          background-image: url("../icons/moon.svg");
          background-color: #3e3e3e;
          transition: 0.2s linear;
        }
      }
    }
  }
}

.solidHeader {
  background-color: #ffffff;
  transition: 0.2s linear;
}

.solidHeaderShadow {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px #e1e1e1;
  transition: 0.2s linear;
}

// darkmode version
body.dark header {
  transition: background 0.2s linear;
  .container {
    .logo-header {
      @include iconBg($dnyDark, 200px, 50px);
    }
    nav {
      ul {
        li {
          color: $textDark;
          .link::after {
            background-color: $textDark;
          }
        }
      }
    }
  }
}

body.dark header.solidHeader {
  background-color: #3e3e3e;
  transition: 0.2s linear;
}

body.dark .solidHeaderShadow {
  background-color: #3e3e3e;
  box-shadow: 0px 0px 10px 5px #313131;
  transition: 0.2s linear;
}
