header.home {
  animation: 1s ease-in 0s 1 introOpacity;
}
.mobile-ver {
  overflow: scroll;
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-image: url("../images/home_page1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container-mobile {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    #greetings-1-mobile {
      @include nunito(bold);
      font-size: 80pt;
      color: $blueLight;
      opacity: 1;
      text-align: center;
    }
    #greetings-2-mobile,
    #greetings-3-mobile {
      @include nunito(normal);
      font-size: 16pt;
      text-align: center;
      color: $textLight;
    }

    #greetings-3-mobile {
      @include nunito(bold);
      margin-bottom: 50px;
    }
    #button-container-mobile {
      margin: 0 auto;
      ul {
        li {
          list-style-type: none;
          text-align: center;
          margin: 20px 0;
          a {
            button {
              text-decoration: none;
              cursor: pointer;
              @include nunito(bold);
              font-size: 14pt;
              text-align: center;
              border-radius: 50px;
              padding: 15px;
              width: 300px;
              transition: 200ms ease-in-out;
            }
            .button1 {
              background-color: $blueLight;
              color: white;
              border: none;
              &:hover {
                background-color: $buttonHoverLight;
              }
            }
            .button2 {
              @include nunito(bold);
              position: relative;
              background-color: transparent;
              border: 2px solid $blueLight;
              color: $blueLight;
              &:hover {
                border-color: transparent;
                background-color: $blueLight;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.home-contents {
  position: fixed;
  .section {
    text-align: center;
    display: block;
    position: relative;
  }
  .s1 {
    animation: 1s ease-in 0s 1 introOpacity;
    background-image: url("../images/home_page1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #greetings-1 {
      @include nunito(bold);
      font-size: 130pt;
      color: $blueLight;
      opacity: 1;
      transition: opacity 1s ease-in-out; //must same with sleeptime on langchanger.js !
    }
    #action-swipe {
      @include lato(light);
      margin-top: -20px;
      font-size: 18pt;
      color: $textLight;
      opacity: 1;
      transition: opacity 1s ease-in-out; //must same with sleeptime on langchanger.js !
    }
  }

  .s2 {
    animation: 1s ease-in 0s 1 introOpacity;
    background-image: url("../images/home_page2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #greetings-2 {
      @include nunito(normal);
      font-size: 50pt;
      color: $blueLight;
      opacity: 1;
      transition: opacity 1s ease-in-out; //must same with sleeptime on langchanger.js !
    }
    #greetings-3 {
      @include nunito(bold);
      margin-top: -10px;
      font-size: 50pt;
      color: $blueLight;
      opacity: 1;
      transition: opacity 1s ease-in-out; //must same with sleeptime on langchanger.js !
    }

    #button-info {
      display: absolute;
      margin-top: 4%;
      .button1 {
        @include nunito(bold);
        background-color: $blueLight;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15pt;
        width: 550px;
        transition: 200ms ease-in-out;
        &:hover {
          background-color: $buttonHoverLight;
          transition: 200ms ease-in-out;
        }
      }
      #button-container {
        margin: 0 auto;
        .button2 {
          appearance: button;
          text-decoration: none;
          @include nunito(bold);
          position: relative;
          background-color: transparent;
          border: 2px solid $blueLight;
          border-radius: 50px;
          cursor: pointer;
          color: $blueLight;
          padding: 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 15pt;
          width: 235px;
          margin: 15px 5px;
          transition: 200ms ease-in-out;
          &:hover {
            border-color: transparent;
            background-color: $blueLight;
            color: white;
            transition: 200ms ease-in-out;
          }
        }
      }
    }
  }
}

body.dark .home-contents svg {
  opacity: 10%;
}

body.dark .s1 {
  background-image: url("../images/home_page1_dark.png");
  #greetings-1 {
    color: $blueDark;
  }
  #action-swipe {
    color: $textDark;
  }
}

body.dark .s2 {
  background-image: url("../images/home_page2_dark.png");
  #greetings-2 {
    color: $blueDark;
  }
  #greetings-3 {
    color: $blueDark;
  }
  #button-info {
    .button1 {
      background-color: $blueDark;
      &:hover {
        background-color: $blueLight;
      }
    }
    #button-container {
      .button2 {
        border-color: $blueDark;
        color: $blueDark;
        &:hover {
          background-color: $blueDark;
          color: white;
        }
      }
    }
  }
}

body.dark .mobile-ver {
  background-image: url("../images/home_page1_dark.png");
  .container-mobile {
    animation: 1s ease-in 0s 1 introOpacity;
    #greetings-1-mobile {
      color: $blueDark;
    }
    #greetings-2-mobile,
    #greetings-3-mobile {
      color: $textDark;
    }
    #button-container-mobile {
      ul {
        li {
          .button1 {
            background-color: $blueDark;
            &:hover {
              background-color: $blueLight;
            }
          }

          .button2 {
            border-color: $blueDark;
            color: $blueDark;
            &:hover {
              background-color: $blueDark;
              color: white;
            }
          }
        }
      }
    }
  }
}

//for mobile version
@media only screen and (max-width: 960px) {
  .mobile-ver {
    opacity: 1;
  }

  .home-contents {
    opacity: 0;
  }
}
