.home-contents {
  .section {
    text-align: center;
  }
  .s1 {
    #greetings-1 {
      @include nunito(bold);
      font-size: 300px;
      color: $blueLight;
      opacity: 1;
      transition: opacity 3s ease-in-out;
    }
  }
}

body.dark .s1 {
  #greetings-1 {
    color: $blueDark;
  }
}
