//textColoring
$textLight: #41413f;
$textDark: #cccccc;

$blueLight: #008fff;
$blueDark: #44adff;

$buttonHoverLight: #007ad8;
$buttonHoverDark: #007ad8;

$footerLight: #ebe9e9;
$footerDark: #575555;

@mixin forContainer() {
}
@mixin nunito($weight) {
  font-family: "Nunito", sans-serif;
  @if $weight == light {
    font-weight: 300;
  } @else if $weight == bold {
    font-weight: 700;
  } @else if $weight == normal {
    font-weight: 400;
  }
}

@mixin lato($weight) {
  font-family: "Lato", sans-serif;
  @if $weight == light {
    font-weight: 300;
  } @else if $weight == bold {
    font-weight: 700;
  } @else if $weight == normal {
    font-weight: 400;
  }
}

@mixin iconBg($whichIcon, $iconWidth, $iconHeight) {
  display: block;
  box-sizing: border-box;
  background: $whichIcon no-repeat;
  background-size: $iconWidth;
  width: $iconWidth;
  height: $iconHeight;
}

//ICON n LOGO
$dnyLight: url("../icons/logo_light.png");
$dnyDark: url("../icons/logo_dark.png");
$dnyLightMobile: url("../icons/logo_light_mobile.png");
$dnyDarkMobile: url("../icons/logo_dark_mobile.png");
$instaLight: url("../icons/insta_light.png");
$instaDark: url("../icons/insta_dark.png");
$githubLight: url("../icons/github_light.png");
$githubDark: url("../icons/github_dark.png");
$linkedinLight: url("../icons/linkedin_light.png");
$linkedinDark: url("../icons/linkedin_dark.png");
$send: url("../icons/send.svg");
$back: url("../icons/arrow-left.svg");
$cross: url("../icons/cross.svg");
$burgerLight: url("../icons/burgermenu_light.svg");
$burgerDark: url("../icons/burgermenu_dark.svg");
@keyframes introOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -70%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

$fadeInTime: 0.8s;
