@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");
header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  margin: 0;
  z-index: 3;
}

header .container {
  max-width: 1600px;
  padding: 60px 60px;
  position: relative;
  margin: 0 auto;
}

header .container .logo-header {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../icons/logo_light.png") no-repeat;
  background-size: 220px;
  width: 220px;
  height: 50px;
  float: left;
  margin-top: -26px;
}

header .container nav {
  float: right;
  margin: 0 auto;
  margin-top: -12px;
}

header .container nav ul {
  display: inline-block;
}

header .container nav ul li {
  display: inline-block;
  color: #41413f;
  font-family: "Nunito";
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 50px;
}

header .container nav ul li .link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 5px;
  color: inherit;
  border-bottom: 5px solid transparent;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

header .container nav ul li .link::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 0px;
  bottom: -5px;
  background-color: #41413f;
  height: 5px;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

header .container nav ul li .link:focus::after, header .container nav ul li .link:hover::after {
  left: 0px;
  right: auto;
  width: 100%;
}

header .container nav .darkslider {
  float: right;
  margin-top: -19px;
  display: block;
}

header .container nav .darkslider .checkbox {
  opacity: 0;
}

header .container nav .darkslider .label {
  background-color: #c9cece;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  height: 18px;
  width: 40px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .container nav .darkslider .label .ball {
  background-color: #ffffff;
  background-image: url("../icons/sun.svg");
  background-size: contain;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  height: 20px;
  width: 20px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header .container nav .darkslider .checkbox:checked + .label .ball {
  -webkit-transform: translateX(21px);
          transform: translateX(21px);
  background-image: url("../icons/moon.svg");
  background-color: #3e3e3e;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header.solid {
  background-color: #ffffff;
}

body.dark header {
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

body.dark header .container .logo-header {
  background: url("../icons/logo_dark.png") no-repeat;
  background-size: 220px;
}

body.dark header .container nav ul li {
  color: #cccccc;
}

body.dark header .container nav ul li .link::after {
  background-color: #cccccc;
}

body.dark header.solid {
  background-color: #3e3e3e;
}

.home-contents .section {
  text-align: center;
  display: block;
}

.home-contents .s1 #greetings-1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 200px;
  color: #008fff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.home-contents .s1 #action-swipe {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-top: -20px;
  font-size: 25px;
  color: #41413f;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.home-contents .s2 #greetings-2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 90px;
  color: #008fff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.home-contents .s2 #greetings-3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-top: -18px;
  font-size: 90px;
  color: #008fff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.home-contents .s2 #button-info {
  display: absolute;
  margin-top: 70px;
}

.home-contents .s2 #button-info .button1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  background-color: #008fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 550px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.home-contents .s2 #button-info .button1:hover {
  background-color: #007ad8;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.home-contents .s2 #button-info #button-container {
  margin: 0 auto;
}

.home-contents .s2 #button-info #button-container .button2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  position: relative;
  background-color: transparent;
  border: 2px solid #008fff;
  border-radius: 50px;
  cursor: pointer;
  color: #008fff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 270px;
  margin: 15px 5px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.home-contents .s2 #button-info #button-container .button2:hover {
  border-color: transparent;
  background-color: #008fff;
  color: white;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

body.dark .s1 #greetings-1 {
  color: #44adff;
}

body.dark .s1 #action-swipe {
  color: #cccccc;
}

body.dark .s2 #greetings-2 {
  color: #44adff;
}

body.dark .s2 #greetings-3 {
  color: #44adff;
}

body.dark .s2 #button-info .button1 {
  background-color: #44adff;
}

body.dark .s2 #button-info .button1:hover {
  background-color: #008fff;
}

body.dark .s2 #button-info #button-container .button2 {
  border-color: #44adff;
  color: #44adff;
}

body.dark .s2 #button-info #button-container .button2:hover {
  background-color: #44adff;
  color: white;
}

.about-contents {
  background-color: red;
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #3e3e3e;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
/*# sourceMappingURL=style.css.map */