@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");

@import "./variables";
@import "./header";
@import "./footer";
@import "./home";
@import "./work";
@import "./insideWork";
@import "./contact";
@import "./about";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #3e3e3e;
  transition: background 0.2s linear;
}

//For Universal Header on every page
.universal-header {
  h1 {
    @include nunito(bold);
    text-transform: uppercase;
    font-size: 40pt;
    color: $textLight;
  }
  h2 {
    @include nunito(bold);
    text-transform: uppercase;
    font-size: 40pt;
    color: $blueLight;
    padding-bottom: 20px;
  }
  hr.divider-universalHeader {
    border: none;
    border-radius: 5px;
    height: 5px;
    width: 220px;
    color: $textLight;
    background-color: $textLight;
  }
}

body.dark .universal-header {
  h1 {
    color: $textDark;
  }
  h2 {
    color: $blueDark;
  }
  hr {
    color: $textDark;
    background-color: $textDark;
  }
}
