@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");

@import "./variables";
@import "./header";
@import "./home";
@import "./work";
@import "./contact";
@import "./about";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #3e3e3e;
  transition: background 0.2s linear;
}
